<?xml version='1.0' encoding='UTF-8'?>
<project>
	<actions />
	<description></description>
	<keepDependencies>false</keepDependencies>
	<properties />
	<scm class="hudson.scm.NullSCM" />
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false
	</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<triggers class="vector" />
	<concurrentBuild>false</concurrentBuild>
	<builders />
	<publishers>
		<hudson.tasks.Mailer>
			<recipients>frederik.fromm@gmail.com</recipients>
			<dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
			<sendToIndividuals>false</sendToIndividuals>
		</hudson.tasks.Mailer>

		<au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
			<downstreamProjectNames>DEV-QA-e2-printservice,
				DEV-RC-e2-printservice
			</downstreamProjectNames>
		</au.com.centrumsystems.hudson.plugin.buildpipeline.trigger.BuildPipelineTrigger>
		<hudson.plugins.emailext.ExtendedEmailPublisher>
			<recipientList></recipientList>
			<configuredTriggers>
				<hudson.plugins.emailext.plugins.trigger.FailureTrigger>
					<email>
						<recipientList>printservice-build@clear-mail.de</recipientList>
						<subject>$PROJECT_DEFAULT_SUBJECT</subject>
						<body>$PROJECT_DEFAULT_CONTENT</body>
						<sendToDevelopers>true</sendToDevelopers>
						<sendToRequester>false</sendToRequester>
						<includeCulprits>true</includeCulprits>
						<sendToRecipientList>true</sendToRecipientList>
					</email>
				</hudson.plugins.emailext.plugins.trigger.FailureTrigger>
				<hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
					<email>
						<recipientList>printservice@clear-mail.de</recipientList>
						<subject>$PROJECT_DEFAULT_SUBJECT</subject>
						<body>$PROJECT_DEFAULT_CONTENT</body>
						<sendToDevelopers>true</sendToDevelopers>
						<sendToRequester>false</sendToRequester>
						<includeCulprits>true</includeCulprits>
						<sendToRecipientList>true</sendToRecipientList>
					</email>
				</hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
				<hudson.plugins.emailext.plugins.trigger.FixedTrigger>
					<email>
						<recipientList>printservice@clear-mail.de</recipientList>
						<subject>$PROJECT_DEFAULT_SUBJECT</subject>
						<body>$PROJECT_DEFAULT_CONTENT</body>
						<sendToDevelopers>true</sendToDevelopers>
						<sendToRequester>false</sendToRequester>
						<includeCulprits>true</includeCulprits>
						<sendToRecipientList>true</sendToRecipientList>
					</email>
				</hudson.plugins.emailext.plugins.trigger.FixedTrigger>
			</configuredTriggers>
			<contentType>default</contentType>
			<defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
			<defaultContent>$DEFAULT_CONTENT</defaultContent>
		</hudson.plugins.emailext.ExtendedEmailPublisher>
		<hudson.plugins.svn__tag.SvnTagPublisher>
			<tagBaseURL>${env[&apos;BISS_REPOSITORY_TAG_BASE_URL_BM&apos;]}/${env[&apos;componentName&apos;]}/${env[&apos;BISS_BUILD_TYPE_CI&apos;]}/${env[&apos;BISS_DEV_CODE&apos;]}/${env[&apos;BUILD_NUMBER&apos;]}
			</tagBaseURL>
			<tagComment>[BISS-0]: Automatically tagged after successful build
			</tagComment>
			<tagDeleteComment>[BISS-0]: Automatically removed existing tag
			</tagDeleteComment>
		</hudson.plugins.svn__tag.SvnTagPublisher>
	</publishers>
	<buildWrappers />
</project>